{% extends 'base.html.twig' %}
{% block pageHeader %} {{ pageHeader }} {% endblock %}
{% block subHeader %} {{ subHeader }} {% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                {{ form_start(form) }}
                {{ form_row(form.name) }}
                <button type="submit" class="btn btn-primary" formnovalidate>Add</button>
                {{ form_end(form) }}
                <h3>Current Project roles:</h3>
                <table>

                    {% for role in roles %}

                        <tr>
                            <td>{{ role.name }}</td>
                            <td><a href="{{ path('delete_role',{'projectRole': role.id}) }}"><span
                                            class="glyphicon glyphicon-trash"></span></a></td>

                        </tr>
                    {% endfor %}
                </table>


            </div>
        </div>
    </div>
{% endblock %}