{% extends 'base.html.twig' %}

{% block pageHeader %} {{ pageHeader }} {% endblock %}
{% block subHeader %} {{ subHeader }} {% endblock %}

{% block body %}

    <div class="row">
        <div class="col-md-8">

            {{ form_start(form) }}
            {{ form_row(form.fullName,{
                'value' : userToEdit.fullName
            }) }}
            {{ form_row(form.email,{
                'value' : userToEdit.email
            }) }}
            {{ form_row(form.plainPassword.first, {
                'label': 'New password',

            }) }}
            {{ form_row(form.plainPassword.second,{
                'label': 'Repeat new password'
            }) }}
            {{ form_row(form.roles) }}
            <button type="submit" class="btn btn-primary" >Save</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

