{% extends 'base.html.twig' %}
{% block pageHeader %} {{ pageHeader }} {% endblock %}
{% block subHeader %} {{ subHeader }} {% endblock %}
{% block body %}
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            {% if is_granted('ROLE_SHOW_MEETING') %}
                <li>
                    <a href="{{ path('show_meeting',{'meeting': meeting.id}) }}">Back to the meeting</a>
                </li>
            {% endif %}

        </ul>
    </div>
    <div class="col-md-6">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-primary" type="submit">
            <i class="fa fa-check" aria-hidden="true"> Create</i></button>
        {{ form_end(form) }}
    </div>
{% endblock %}
