{% extends 'base.html.twig' %}
{% block pageHeader %} {{ pageHeader }} {% endblock %}
{% block subHeader %} {{ subHeader }} {% endblock %}

{% block leftMenu %}
    {#<li><a href="#"></a>PROJECT: {{ project.title }}</li>#}
    {% if is_granted('ROLE_NEW_MEETING') %}
        <li>
            <a href="{{ path('new_meeting', {'project': project.id}) }}">New Meeting</a>
        </li>
    {% endif %}
    {% if is_granted('ROLE_ADD_USER_TO_CURRENT_PROJECT') %}
        <li>
            <a href="{{ path('add_user_to_current_project', {'project': project.id}) }}">Add user</a>
        </li>
    {% endif %}
{% endblock %}

{% block body %}

    <div class="container-fluid">
        <ul class="nav navbar-nav">
            {% if is_granted('ROLE_NEW_MEETING') %}
                <li>
                    <a href="{{ path('new_meeting', {'project': project.id}) }}">New Meeting</a>
                </li>
            {% endif %}
            {% if is_granted('ROLE_ADD_USER_TO_CURRENT_PROJECT') %}
                <li>
                    <a href="{{ path('add_user_to_current_project', {'project': project.id}) }}">Add user</a>
                </li>
            {% endif %}
        </ul>
    </div>

    <p>Project Leader: {{ leader.fullName }} - {{ leader.email }}</p>
    <p>Project Secretary: {{ secretary.fullName }} - {{ secretary.email }} </p>
    <p>Project Supervisor: {{ supervisor.fullName }} - {{ supervisor.email }} </p>

    <table class="table table-striped">
        <caption>Project meetings list:</caption>
        <thead>
        <tr>
            <td>Date and Time</td>
            <td>Location</td>
            {% if ((is_granted('ROLE_SUPERVISOR') or app.user == secretary) and project.lock == false) %}
                <td>Start Meeting</td>
            {% endif %}
            <td>Details</td>
        </tr>
        </thead>
        <tbody>
        {% for meeting in meetingsList %}
            {% if meeting.meetingStatus.name == 'future' %}
                <tr>
                    <td>{{ meeting.getMDateTime()| date() }}</td>
                    <td>{{ meeting.getLocation() }}</td>
                    {% if ((is_granted('ROLE_SUPERVISOR') or app.user == secretary) and project.lock == false) %}
                        <td>
                            <a href="{{ path('start_meeting', {'meeting' : meeting.id}) }}">
                                <i class="fa fa-play" aria-hidden="true"></i> start</a>
                        </td>
                    {% endif %}
                    <td>
                        <a href="{{ path('show_meeting',{'meeting': meeting.id}) }}">
                            <i class="fa fa-eye"></i></a>
                    </td>

                </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>

    <table class="table table-striped">
        <caption>Project members list:</caption>
        <thead>
        <tr>
            <td>Name</td>
            <td>Role</td>
            {# If users' role is supervisor or project leader alowes to add or remove user to and from project #}
            {% if (is_granted('ROLE_SUPERVISOR') or (app.user == leader)) %}
                <td>Remove</td>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for phul in projectHasUsersList %}
            <tr>
                {% if( phul.user != leader and phul.user != secretary and phul.user != supervisor) %}
                    <td>{{ phul.user.fullName }}</td>
                    <td>{{ phul.projectRole.name }}</td>
                    {% if (is_granted('ROLE_SUPERVISOR') or (app.user == leader)) %}
                        <td><a href="{{ path(
                            'remove_user_from_project', {'project': phul.project.id, 'user': phul.user.id}) }}">delete</a>
                        </td>
                    {% endif %}
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <hr>
    <table class="table table-striped">
        <caption>Past meetings list:</caption>
        <thead>
        <tr>
            <td>Date and Time</td>
            <td>Location</td>
            {#{% if ((is_granted('ROLE_SUPERVISOR') or app.user == secretary) and project.lock == false) %}#}
            <td>Show Meeting</td>
        </tr>
        </thead>
        <tbody>
        {% for meeting in meetingsList %}
            {% if meeting.meetingStatus.name == 'past' %}
                <tr>
                    <td>{{ meeting.getMDateTime()| date() }}</td>
                    <td>{{ meeting.getLocation() }}</td>
                    {% if ((is_granted('ROLE_SUPERVISOR') or app.user == secretary) and project.lock == false) %}
                        <td>
                            <a href="{{ path('start_meeting', {'meeting' : meeting.id}) }}">
                                <i class="fa fa-eye" aria-hidden="true"></i> </a>
                        </td>
                    {% endif %}

                </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
{% endblock %}