{% extends 'base.html.twig' %}
{% block pageHeader %} {{ pageHeader }} {% endblock %}
{% block subHeader %} {{ subHeader }} {% endblock %}

{% block body %}
    <p>Project Leader: {{ leader.fullName }} - {{ leader.email }}</p>
    <p>Project Secretary: {{ secretary.fullName }} - {{ secretary.email }} </p>


    <table class="table table-striped">
        <a href="{{ path('new_meeting', {'project': project.id}) }}">New Meeting</a>
        <caption>Project meetings list:</caption>
        <thead>
        <tr>
            <td>Date and Time</td>
            <td>Location</td>
            <td>Details</td>
        </tr>
        </thead>
        <tbody>
        {% for meeting in meetingsList %}
            <tr>
                <td>{{ meeting.getMDateTime()| date() }}</td>
                <td>{{ meeting.getLocation() }}</td>
               <td><a href="{{ path('show_meeting',{'meeting': meeting.id}) }}"><span
                class="fa fa-eye"></span></a></td>

            </tr>
        {% endfor %}
        </tbody>
    </table>

    <table class="table table-striped">
        <caption>Project members list:</caption>
        <thead>
        <tr>
            <td>Name</td>
            <td>Role</td>
            {# If users' role is supervisor or project leader alowes to add or remove user to and from project #}
            {% if (is_granted('ROLE_SUPERVISOR') or (app.user == leader.user)) %}
                <td>Remove</td>
            {% endif %}

        </tr>
        </thead>
        <tbody>
        {% for phul in projectHasUsersList %}
            <tr>

                {% if( phul.user != leader and phul.user != secretary and phul.user != supervisor) %}
                    <td>{{ phul.user.fullName }}</td>
                    <td>{{ phul.projectRole.name }}</td>
                    {% if (is_granted('ROLE_SUPERVISOR') or (app.user == leader)) %}
                        <td><a href="{{ path(
                            'remove_user_from_project', {'project': phul.project.id, 'user': phul.user.id}) }}">delete</a>
                        </td>
                    {% endif %}
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}