{% extends 'base.html.twig' %}
{% block pageHeader %} {{ pageHeader }} {% endblock %}
{% block subHeader %} {{ subHeader }} {% endblock %}

{% block body %}
    <p>Current agenda item is : {{ currAgendaItem.sequenceNo }} of {{ countAI }}<br>{{ currAgendaItem.description }}</p>
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li>
                <a href="
                {% if currAgendaItem.sequenceNo <= countAI %}
                    {{ path('next_agenda_on_meeting', {'meeting': meeting.id , 'agendaItemSequenceNo' : nextAISequenceNo}) }}
                {% endif %}{% if currAgendaItem.sequenceNo > countAI %}#{% endif %}">
                    <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> Continue</a>
            </li>

        </ul>
    </div>

    {% if form is defined %}
        <div class="row">
            <div class="col-md-4">
                <table class="table table-striped">
                    <caption>User</caption>
                    <tbody>
                    <tr>
                        <td>Name</td>
                        <td>{{ meetingAttendance.user.fullName }}</td>
                    </tr>
                    <tr>
                        <td>Declared presence</td>
                        <td>{{ meetingAttendance.attendance }}</td>
                    </tr>
                    <tr>
                        <td>Apologies note</td>
                        <td>{{ meetingAttendance.apologiesNote }}</td>
                    </tr>

                    </tbody>
                </table>
            </div>
            <div class="col-md-4">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <button type="submit" class="btn btn-primary" formnovalidate><i class="fa fa-arrow-right"
                                                                                aria-hidden="true"></i>Update Attendance
                </button>
                {{ form_end(form) }}
            </div>
        </div>
    {% endif %}
    <table class="table table-striped">
        <caption>Meetings participants attendance list</caption>
        <thead>
        <tr>
            <th>User</th>
            <th>Declared presence</th>
            <th>Apologies note</th>
            <th>Presence</th>
            <th>Secretary Note</th>
        </tr>
        </thead>
        <tbody>
        {% for userAttendance in usersAttendanceList %}
            <tr>
                <td>{{ userAttendance.user.fullName }}</td>
                <td>{{ userAttendance.attendance }}</td>
                <td>{{ userAttendance.apologiesNote }}</td>
                {% if userAttendance.presence is not null %}
                    <td>{{ userAttendance.presence }}</td>
                    <td>{{ userAttendance.note }}</td>
                {% endif %}
                {% if userAttendance.presence is null %}
                    <td colspan="2">
                        <a href="{{ path('presence_check',{'meeting': currAgendaItem.meeting.id ,'agendaItem' : currAgendaItem.id, 'meetingAttendance' : userAttendance.id }) }}">check</a>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}