{% extends 'base.html.twig' %}
{% block pageHeader %} {{ pageHeader }} {% endblock %}
{% block subHeader %} {{ subHeader }} {% endblock %}

{% block body %}
    <p>Current agenda item is : {{ minuteItem.sequenceNo }} of {{ countAI }}<br>{{ minuteItem.description }}</p>
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li>
                {% if minuteItem.sequenceNo < countAI %}
                    <a href=" {{ path('next_agenda_on_meeting',
                    {'meeting': meeting.id , 'agendaItemSequenceNo' : nextAISequenceNo}) }}">
                        <i class=" fa fa-arrow-circle-o-right" aria-hidden="true"></i> Continue</a>
                {% endif %}
                {% if minuteItem.sequenceNo >= countAI %}
                    <a href="{{ path('show_meeting',{'meeting': meeting.id}) }}">Back to meeting page</a>
                    {#<a href=" {{ path('finish_meeting') }}">Finish meeting</a>#}
                {% endif %}
            </li>

        </ul>
    </div>


    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" name="minute_comment" class="btn btn-primary" formnovalidate><i class="fa fa-arrow-right"
                                                                                          aria-hidden="true"></i>Update
        Comment
    </button>
    {{ form_end(form) }}

    {% set counter = 1 %}
    {% for item in minuteItem.actions %}
        <hr>
        <div class="row">
            <div class="col-md-4">
                <table class="table">
                    <caption>Action Item {{ counter }} . {{ item.title }} </caption>

                    <tr>
                        <th>Proposer</th>
                        <td>{{ item.proposer.fullName }}</td>
                    </tr>
                    <tr>
                        <th>Doer</th>
                        <td>{{ item.doer.fullName }}</td>
                    </tr>
                    <tr>
                        <th>Deadline</th>
                        <td>{{ item.deadline|date }}</td>
                    </tr>
                </table>
            </div>

            <div class="col-md-8">
                <table class="table">
                    <caption>Action description</caption>
                    <tr>
                        <td colspan="2">{{ item.description }}</td>
                    </tr>
                    <tr>
                        <td><a href="">Edit</a></td>
                        <td>
                            <a href="{{ path('delete_minute_action',{'minuteItem' : minuteItem.id, 'minuteAction' : item.id }) }}">Delete</a>
                        </td>
                    </tr>

                </table>
            </div>
        </div>
        {% set counter = counter + 1 %}
    {% endfor %}


{% endblock %}