{% extends 'base.html.twig' %}
{% block pageHeader %} {{ pageHeader }} {% endblock %}
{% block subHeader %} {{ subHeader }} {% endblock %}

{% block body %}
    <ul>
        <li>Current agenda item is : {{ minuteItem.sequenceNo }} of {{ countAI }}

            {% if minuteItem.sequenceNo < countAI %}
                <a href=" {{ path('next_agenda_on_meeting',
                {'meeting': meeting.id , 'agendaItemSequenceNo' : nextAISequenceNo}) }}">
                <i class=" fa fa-arrow-circle-o-right" aria-hidden="true"></i> Continue</a>
            {% endif %}
            {% if minuteItem.sequenceNo >= countAI %} Meeting is over
            <a href="{{ path('homepage') }}">Back to dashboard</a>
            {% endif %}

        </li>
        <li>Add new Action
            <a href="{{ path('new_minute_action', { 'minuteItem': minuteItem.id}) }}">Add</a>
        </li>
    </ul>
    <p>{{ minuteItem.description }}</p>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" name="minute_comment" class="btn btn-primary" formnovalidate><i class="fa fa-arrow-right"
                                                                                          aria-hidden="true"></i>Update
        Comment
    </button>
    {{ form_end(form) }}

    {% set counter = 1 %}
    {% for item in minuteItem.actions %}
        <hr>
        <div class="row">
            <div class="col-md-4">
                <table class="table">
                    <caption>Action Item {{ counter }} . {{ item.title }} </caption>

                    <tr>
                        <th>Proposer</th>
                        <td>{{ item.proposer.fullName }}</td>
                    </tr>
                    <tr>
                        <th>Doer</th>
                        <td>{{ item.doer.fullName }}</td>
                    </tr>
                    <tr>
                        <th>Deadline</th>
                        <td>{{ item.deadline|date }}</td>
                    </tr>
                </table>
            </div>

            <div class="col-md-8">
                <table class="table">
                    <caption>Action description</caption>
                    <tr>
                        <td colspan="2">{{ item.description }}</td>
                    </tr>
                    <tr>
                        <td><a href="">Edit</a></td>
                        <td>
                            <a href="{{ path('delete_minute_action',{'minuteItem' : minuteItem.id, 'minuteAction' : item.id }) }}">Delete</a>
                        </td>
                    </tr>

                </table>
            </div>
        </div>
        {% set counter = counter + 1 %}
    {% endfor %}


{% endblock %}