{% extends 'base.html.twig' %}
{% block pageHeader %} {{ pageHeader }} {% endblock %}
{% block subHeader %} {{ subHeader }} {% endblock %}

{% block body %}
    <p>Current agenda item is : {{ minuteItem.sequenceNo }} of {{ countAI }}<br>{{ minuteItem.description }}</p>
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li>
                <a href="
                {% if minuteItem.sequenceNo <= countAI %}
                    {{ path('next_agenda_on_meeting', {'meeting': meeting.id , 'agendaItemSequenceNo' : nextAISequenceNo - 2 }) }}
                {% endif %}{% if minuteItem.sequenceNo > countAI %}#{% endif %}">
                    <i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i> Previous agenda</a>
            </li>

            {% if minuteItem.sequenceNo < countAI %}
                <li>
                    <a href=" {{ path('next_agenda_on_meeting',
                    {'meeting': meeting.id , 'agendaItemSequenceNo' : nextAISequenceNo}) }}">
                        <i class=" fa fa-arrow-circle-o-right" aria-hidden="true"></i> Next agenda</a>
                </li>
            {% endif %}
            {% if minuteItem.sequenceNo >= countAI %}
                <li>
                    <a href="{{ path('show_meeting',{'meeting': meeting.id}) }}">Back to meeting page</a>
                </li>
                {% if meetingStatus != 'past' %}
                    <li>
                        <a href=" {{ path('finish_meeting', {'meeting': meeting.id}) }}">Finish meeting</a>
                    </li>
                {% endif %}
            {% endif %}
            {% if meetingStatus != 'past' %}
                <li><a href="{{ path('new_minute_action',{'minuteItem': minuteItem.id}) }}">Add action</a></li>
            {% endif %}
        </ul>
    </div>
    {% if meetingStatus == 'past' %}
        <table class="table">
            <tr>
                <th>Comment</th>
                <td> {{ minuteItem.comment }}</td>
            </tr>
        </table>
    {% else %}

        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" name="minute_comment" class="btn btn-primary" formnovalidate><i class="fa fa-arrow-right"
                                                                                              aria-hidden="true"></i>Update
            Comment
        </button>
        {{ form_end(form) }}
    {% endif %}

    {% set counter = 1 %}
    {% for item in minuteItem.actions %}
        <hr>
        <div class="row">
            <div class="col-md-4">
                <table class="table">
                    <caption>Action No. {{ counter }} </caption>
                    <tr>
                        <th>Title</th>
                        <td>{{ item.title }}</td>
                    </tr>
                    <tr>
                        <th>Proposer</th>
                        <td>{{ item.proposer.fullName }}</td>
                    </tr>
                    <tr>
                        <th>Doer</th>
                        <td>{{ item.doer.fullName }}</td>
                    </tr>
                    <tr>
                        <th>Deadline</th>
                        <td>{{ item.deadline|date }}</td>
                    </tr>
                </table>
            </div>

            <div class="col-md-8">
                <table class="table">
                    <caption>Action description</caption>
                    <tr>
                        <td>{{ item.description }}</td>
                    </tr>
                    {% if meetingStatus != 'past' %}
                        <tr>
                            <td>
                                <a href="{{ path('delete_minute_action',{'minuteItem' : minuteItem.id, 'minuteAction' : item.id }) }}">Delete</a>
                            </td>
                        </tr>
                    {% endif %}
                </table>
            </div>
        </div>
        {% set counter = counter + 1 %}
    {% endfor %}


{% endblock %}