{% extends 'base.html.twig' %}
{% block pageHeader %} {{ pageHeader }} {% endblock %}
{% block subHeader %} {{ subHeader }} {% endblock %}

{% block body %}
    <ul>
        <li>Current agenda item is : {{ currAgendaItem.sequenceNo }} of {{ countAI }}
            <a href="
                {% if currAgendaItem.sequenceNo <= countAI %}
                    {{ path('next_agenda_on_meeting', {'meeting': meeting.id , 'agendaItemSequenceNo' : nextAISequenceNo}) }}
                {% endif %}{% if currAgendaItem.sequenceNo > countAI %}#{% endif %}">
                <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> Continue</a>
        </li>
    </ul>
    <p>{{ currAgendaItem.description }}</p>
    <table class="table table-striped">
        <caption>Agenda items list</caption>
        <thead>
        <tr>
            <td>Sequence No</td>
            <td>Title</td>
            <td>Description</td>
        </tr>
        </thead>
        <tbody>
        {% for aItem in agreedAgenda %}
            <tr>
                <td>{{ aItem.sequenceNo }}</td>
                <td>{{ aItem.title }}</td>
                <td>{{ aItem.description }}</td>
              </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}