{% extends 'base.html.twig' %}
{% block pageHeader %} {{ pageHeader }} {% endblock %}
{% block subHeader %} {{ subHeader }} {% endblock %}

{% block body %}
    <p>Current agenda item is : {{ currAgendaItem.sequenceNo }} of {{ countAI }}<br>{{ currAgendaItem.description }}</p>
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li>
                <a href="
                {% if currAgendaItem.sequenceNo <= countAI %}
                    {{ path('next_agenda_on_meeting', {'meeting': meeting.id , 'agendaItemSequenceNo' : nextAISequenceNo}) }}
                {% endif %}{% if currAgendaItem.sequenceNo > countAI %}#{% endif %}">
                    <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> Continue</a>
            </li>

        </ul>
    </div>




{% endblock %}