{% extends 'base.html.twig' %}
{% block pageHeader %} {{ pageHeader }} {% endblock %}
{% block subHeader %} {{ subHeader }} {% endblock %}

{% block body %}

    <div class="container-fluid">
        <ul class="nav navbar-nav">
            {% if is_granted('ROLE_NEW_MEETING') %}
                <li>
                    <a href="{{ path('show_project', {'project': project.id}) }}">Back to project</a>
                </li>
            {% endif %}
        </ul>
    </div>

    <div class="col-md-8">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-primary" formnovalidate>
            <i class="fa fa-check" aria-hidden="true"></i> Create Meeting
        </button>
        {{ form_end(form) }}
    </div>

{% endblock %}